<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style_detalhes.css">
    <title>Detalhes</title>
</head>
    <h1><img src="/img/logo_pokemon.png" alt="Logo Pokemon" width ="500px" height = "227px"></h1>
    <form action="/cadastro" method="get">
        <div class= "container">
                <div class= "imagem_index">
                    <a href="/index" id= "muda_pag"> <img src="/img/Pikachu_muda_pag.png" alt="Pikachu com um balão dizendo PIKA! PIKA! PIKA! TEM MAIS COISA POR AQUI! CLICA EM MIM PARA MUDARMOS DE PÁGINA! PIKA! CHU!" width ="580px" height = "415px"></a>
            </div>
        </form>
<body>
    <div class = "detalhes">
        <h2>Detalhes do Pokemon</h2>
        <img src = <%= pokemon.img %> width ="300px" height = "215px">
        <p>Você escolheu o Pokemon: <%= pokemon.nome %></p>
        <p>TIPO: <%= pokemon.tipo %></p>
        <p>DESCRIÇÃO: <%= pokemon.descricao %></p>
        <p>ALTURA: <%= pokemon.altura %></p>
        <p>PESO: <%= pokemon.peso %></p>
        <p>CATEGORIA: <%= pokemon.categoria %></p>
        <p>HABILIDADE: <%= pokemon.habilidade %></p>
    
        <footer>
            <p>Todos os direitos reservados Fredy_Lima® 2021</p>
        </footer>
    </div>
</body>

</html>