<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style_index.css">
    <title>Pokemon</title>
</head>
        <% if(mensagem != "") { %>
            <section id="mensagem">
                <p><%= mensagem %></p> <span id="close">&times;</span>
            </section>
        <% } %>
        <h1><img src="/img/logo_pokemon.png" alt="Logo Pokemon" width ="500px" height = "227px"></h1>
        
<body>
    <form action="/cadastro" method="get">
 
        <div class= "imagem_index">
            <button type="submit" id= "muda_pag"> <img src="/img/Pikachu_muda_pag.png" alt="Pikachu com um balão dizendo PIKA! PIKA! PIKA! TEM MAIS COISA POR AQUI! CLICA EM MIM PARA MUDARMOS DE PÁGINA! PIKA! CHU!" width ="580px" height = "415px"></button>
    </div>
    <div class= "container">
    <div class="pokemon">
    <ul>
            <%pokedex.forEach(item => { %>
                
                    <img id="img1" src= <%=item.img %> alt= <%= item.nome %> height="150px"></br>
            <% }) %>
        </ul>
    </div>  
        <div class="pokemon_desc">
            <ul>
                    <%pokedex.forEach(item => { %>
                        Nome: <%= item.nome %>. </br> Tipo: <%= item.tipo %>      
                    <% }) %>
                </ul>
    </div>     
    
</div>
    <footer>
        <p>Todos os direitos reservados Fredy_Lima® 2021</p>
    </footer>
</form>
<script type="text/javascript" src="./js/script.js"></script> 
</body>

</html>
